pkgbase = wl-kbptr
	pkgdesc = Control the mouse pointer with the keyboard on Wayland
	pkgver = 0.2.2
	pkgrel = 2
	url = https://github.com/moverest/wl-kbptr
	arch = x86_64
	license = GPL-3.0
	makedepends = meson
	makedepends = wayland-protocols
	depends = cairo
	depends = wayland
	depends = libxkbcommon
	optdepends = python: to run wl-kbptr-sway-active-win
	source = https://github.com/moverest/wl-kbptr/archive/v0.2.2.tar.gz
	sha256sums = d37524010f777eed0dd5a482b2b30737d8938bfd936140c666861ca212b25ebb

pkgname = wl-kbptr
