pkgbase = wl-kbptr
	pkgdesc = Control the mouse pointer with the keyboard on Wayland
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/moverest/wl-kbptr
	arch = x86_64
	license = GPL-3.0
	makedepends = meson
	makedepends = wayland-protocols
	depends = cairo
	depends = wayland
	depends = libxkbcommon
	source = https://github.com/moverest/wl-kbptr/archive/refs/tags/v0.2.3.tar.gz
	sha256sums = 0d03f83d94b6acfdb07f3ee3760c1abc207eef5a8346af38978d6bcb46ac58b8

pkgname = wl-kbptr
