pkgbase = wl-kbptr
	pkgdesc = Control the mouse pointer with the keyboard on Wayland
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/moverest/wl-kbptr
	arch = x86_64
	license = GPL-3.0
	makedepends = meson
	makedepends = wayland-protocols
	depends = cairo
	depends = wayland
	depends = libxkbcommon
	source = https://github.com/moverest/wl-kbptr/archive/v0.2.1.tar.gz
	sha256sums = c014d8c12613b6267067cacf3f8737acc66514f18c1474de55d3cb3498c96bbe

pkgname = wl-kbptr
